/*-----------------------------
             TYPO
------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*-----------------------------
             RESET
------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*-----------------------------
             TEXTE
------------------------------*/

.bold {
    font-weight: 800;
}
h1{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 85px;

}
h2 {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    font-weight: 400;
}

h3 {
    font-family: "DM Serif Display", serif;
}

p {
    font-family: "Jost", sans-serif;

}

a {
    font-family: "Jost", sans-serif;
}
.txt-center{
    text-align: center;
}
.txt-end{
    text-align: end;
}
.display-block{
    display: block;
}
.white {
    color: white;
}

.dark-grey {
    color: #292F36;
}

.grey {
    color: #4D5053;
}

.gold {
    color: #CDA274;
}

.isa {
    color: #F4F0EC;
}

.f-22 {
    font-size: 22px;
}


/*-----------------------------
        MARGIN ET PADDING
------------------------------*/
.p-40 {
    padding: 40px;
}
.pt-40 {
    padding-top: 60px;
}
.pt-10{
    margin-top: 10px;
    
}
.pt-20{
    margin-top: 20px;
}
.pb-40 {
    padding-bottom: 60px;
}

.mgl-8 {
    margin-left: 8px;
}
.mgl-15 {
    margin-left: 15px;
}

.mgt-20{
    margin-top: 20px;
}
.mgt-40{
    margin-top: 40px;
}
.mgt-50{
    margin-top: 50px;
}
.mgt-100{
    margin-top: 100px;
}
/*-----------------------------
          DIMENSIONS
------------------------------*/

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}
.w-45 {
    width: 45%;
}
.w-30 {
    width: 30%;
}
.w-20 {
    width: 20%;
}
.l-card{
width: calc(50% - 16px);
}

/*-----------------------------
            FLEXBOX
------------------------------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.gap-8 {
    gap: 8px;
}
.gap-32{
    gap: 32px;
}


/*-----------------------------
           CONTAINER
------------------------------*/

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------------
           BACKGROUND
------------------------------*/
.bg-gold {
    background-color: #CDA274;
}

.bg-dark-grey {
    background-color: #292F36;
}

.bg-grey {
    background-color: #4D5053;
}

.bg-isa {
    background-color: #F4F0EC;
}

.bg-hero {
    background-image: url("assets/Banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    border-bottom-left-radius: 170px;
}



/*-----------------------------
           BOUTONS
------------------------------*/
.btn {
    background-color: #292F36;
    padding: 26px 31px;
    border-radius: 18px;
    color: white;
    font-size: 22px;
    display: inline-block;
    overflow: hidden;

}
.btn2{
    background-color:#F4F0EC ;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292F36;
}
.input{
    appearance: none;
    width: 700px;
    height: 50px;
    border-radius: 11px;
    font-size: 22px;
    font-family:"Jost", sans-serif;
    color: #000000;
    caret-color: #292F36;
    
}
/*-----------------------------
           IMAGES
------------------------------*/
.card{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    
}
.img-article{
    border-radius: 10% 10% 10% 10%;
    
}

.icone-tel{
    object-fit: contain;
}